<html>
<head>
	<title>Login and Registration form</title>
	 <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
</head>
<body>
<div class="container">
<div class="card">
<div class="inner-box" id="card">
<div class="card-front">
	<h2>LOGIN</h2>
	<form action="/login_1" method="post">
		<input type="email" name="email" class="input-box" placeholder="Your Email Id" 
        required>
		<input type="password" class="input-box" name="password"  placeholder="Password" 
        required>
		{{ msg }}
		
		<button type="submit" value="Login" class="submit">Lets Drive</button>
	</form>
	<br>
	<br>
	<h4 align="center">Haven't Registered Yet..! </h4>
	<button type="button" class="btn" onclick="openRegister()">Click here to Register</button>
	
</div>



<div class="card-back">
	<h2>REGISTER</h2>
	<form action="/signup/" method="post">
		<input type="text" class="input-box" name="username" placeholder="Your name" pla 
        required>
		<input type="email" class="input-box" name="email" placeholder="Your Email Id" 
        required>
		<input type="password" class="input-box" name="password" placeholder="Password" 
        required>
		
		<input type="tel" name="contact" class="input-box" placeholder="contact-no" 
        required>
		
		

		<button type="submit" class="submit"> Submit</button>
		
	</form>
	<button type="button" class="btn" onclick="openlogin()">I have an account > LOGIN</button>
</div>	
</div>
</div>
</div>
	<script>
	
	var card = document.getElementById("card")
	
	
	function openRegister(){
		card.style.transform= "rotateY(-180deg)";
	}
	function openlogin(){
		card.style.transform= "rotateY(0deg)";
	}
	
	</script>

</body>
</html>
